/* aplicando grid */
.content{
    display: grid;
    /* soma das colunas deve dar 100% */
    grid-template-columns: 60% 40%;
    grid-template-rows: 13.3rem 1fr 24.9rem;
    height: 100%;
    grid-template-areas: 
    'header header'
    'left right'
    'rodape rodape'
}

/* definindo cada grid com a sua respectiva posição */
header{
    grid-area: header;
    background: url('/Assets/top-image.svg') no-repeat;
}
.container{
    grid-area: left; 
    display: flex;
    align-items: center;

    flex-direction: column;
    width: min(36.3rem 100%);
}
#foguete{
    grid-area: right;
    /* Faz com que a imagem se encaixa na div em que ela está */
    background: url('/Assets/rocket.svg') no-repeat top/contain;
}
#rodape{
    grid-area: rodape;
}
