/* aplicando grid */
.content{
    display: grid;
    /* soma das colunas deve dar 100% */
    grid-template-columns: 60% 40%;
    grid-template-rows: 13.3rem 1fr 24.9rem;
    height: 100%;
    grid-template-areas: 
    'header header'
    'left right'
    'rodape rodape'
}

/* definindo cada grid com a sua respectiva posição */
header{
    grid-area: header;
    background: url('/Assets/top-image.svg') no-repeat;
}
.container{
    grid-area: left; 
    display: flex;
    align-items: center;

    /* sempre pega o mínimo até que ultrapasse*/
    flex-direction: column;
    width: min(36.3rem 100%);
}
#foguete{
    grid-area: right;
    /* Faz com que a imagem se encaixa na div em que ela está */
    background: url('/Assets/rocket.svg') no-repeat top/contain;
}
#rodape{
    grid-area: rodape;
}

#relogio h2{
    color: var(--black);
    font-weight: 500;
}


/* Definindo configurações do paragrafo*/
p{
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

/* Modelendo a tabela */

table{
    display: flex;
    justify-content: center;
    align-items: center;;
}

table th{
    font-weight: 300;
    font-size: 1.3rem;
    color: var(--light-grey);
    text-align: center;

    padding: 3.2rem;
    padding-bottom: 1.2rem;
}
table td{
    font-weight: 400;
    color: var(--black);
    font-size: 7rem;
    text-align: center;

    letter-spacing: 0.6rem;
}



